.add-to-cart .make_an_offer_btn{
width: 85px;
height: 15px;
padding: 3px;
float: left;
}

.add-to-cart .make_an_offer_btn a.thickbox{
text-decoration: none;
}

#uc-make-an-offer-form .status ul li{
background-color:lightgreen;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
padding:5px;
}

#primary .node .content .add-to-cart .make_an_offer_btn a.thickbox{
text-decoration: none;
color: #FFFFFF;
}
